<a href="https://colab.research.google.com/github/DanteKim07/AI_MATH/blob/main/AI_Math1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1-1. 변수와 수식

In [2]:
# 변수선언
x = 5
print(x)

5

In [3]:
# 각각에 값 지정
x, y, z = 1,2,3
print(x,y,z)

1 2 3

In [4]:
a, b, c = 3, 7, 2

In [6]:
print(a+b)
print(a-b)
print(a*b)
print(b/a)
print(b%a)
print(a**c)
print(a//c)

10
-4
21
2.3333333333333335
1
9
1

# 1-2. 방정식과 부등식

In [8]:
import numpy
from sympy import Symbol as symbol, solve

In [9]:
# 방정식

# 사용할 변수 선언
x = symbol('x')

# 방정식을 풀기위해 (일차방정식) = 0 으로 만들어줌
# 모든 식을 좌변으로 이동. equation으로 변수화
equation = 2 * x - 6


# 방정식을 풀기위해 Sympy에 내장된 solve() 함수를 사용
# solve() 함수 안에 equation을 입력하면, 방정식을 풀어 결과를 반환
solve(equation)

[3]

In [10]:
# 4= k -2 방정식의 해를 구하라
k = symbol('k')
equation = k - 2 - 4
solve(equation)

[6]

In [11]:
# 10 = 2k 방정식의 해를 구하라
k = symbol('k')
equation = 2 * k - 10
solve(equation)

[5]

In [12]:
# k/2 = 8 방정식의 해를 구하라
k = symbol('k')
equation = k/2 - 8
solve(equation)

[16]

In [14]:
# 연립방정식

x = symbol('x')
y = symbol('y')

# 식 2개를 만듦
equation1 = 3 * x + y - 2
equation2 = x - 2 * y - 3

solve((equation1, equation2), dict=True) # dict 는 해를 딕셔너리 형태로 반환

[{x: 1, y: -1}]

# 4-2. 거듭제곱과 거듭제곱근

In [15]:
# 거듭제곱의 표현
2**5

32

In [16]:
import math
#sqrt 함수를 이용해 거듭제곱근을 구함
math.sqrt(2)

1.4142135623730951

In [17]:
math.sqrt(9)

3.0

# 4-3. 인수분해

In [19]:
from sympy import expand, factor, Symbol
x = Symbol('x')

In [20]:
# 수식을 전개하는 함수
expand((x + 1) * (x + 5))

x**2 + 6*x + 5

In [21]:
# 인수분해를 하는 함수
factor(x**2 + 6*x + 5)

(x + 1)*(x + 5)

In [22]:
factor(x**3 * y - x* y**3)

x*y*(x - y)*(x + y)

In [23]:
factor(x**2 + x*3 + 2)

(x + 1)*(x + 2)